* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    color: white;
}

body {
    background-color: #111;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    padding: 2rem;

    text-align: center;
}

.animals {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    margin: 3rem 0;
}

.food {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    
    cursor: pointer;
}

.animals p,
.food p {
    font-size: xxx-large;

    background-image: url('https://picsum.photos/200');
    border-radius: 50%;
    padding: 0.5rem;

}

.animals p::selection,
.food p::selection {
    background-color: transparent;
}